.big_div {
  text-align: center;
  background-color: whitesmoke;
}

/*Sidebar*/

.sidebar {
  width: 30%;
  position: fixed;
  left: 20px;
  top: 60px;
  color: black;
  text-align: center;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.sticky_sidebar {
  background-color: whitesmoke;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.search_button {
  color: black;
  font-size: 18px;
  width: 100%;
}

.logout_button {
  border: 1px black solid;
  color: black;
  font-size: 20px;
  width: 100%;
}

.search_bar {
  margin-top: 15px;
}

.sort_button {
  width: 100%;
}
