.acc_big_div {
  background-color: whitesmoke;
}

/*Sidebar*/
.navbar {
  position: sticky;
  margin-top: 0px;
}

.acc_sidebar {
  width: 30%;
  position: fixed;
  left: 20px;
  top: 600px;
  color: black;
  text-align: left;
}

.acc_sidebar {
  background-color: white;
  padding: 15px;
  box-shadow: inset 0.8px 0.8px whitesmoke, 3px 3px whitesmoke;
}

.acc_sidebar2 {
  width: 30%;
  position: fixed;
  left: 20px;
  top: 100px;
  color: black;
  text-align: left;
  background-color: white;
}

.acc_sidebar3 {
  width: 30%;
  position: fixed;
  left: 20px;
  top: 395px;
  color: black;
  text-align: left;
  background-color: white;
}

.acc_logout_button {
  width: 100%;
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
  color: black;
  float: right;
  font-weight: bold;
  margin-bottom: 25px;
}

.acc_delete_user_button {
  width: 100%;
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
  color: black;
  float: right;
  font-weight: bold;
  margin-bottom: 10px;
}

/*Saját postok*/

.acc_blog_text {
  padding: 25px;
  width: 66%;
  margin: 20px;
  float: right;
  background-color: white;
  box-shadow: inset 0.8px 0.8px whitesmoke, 3px 3px whitesmoke;
  font-size: 20px;
}

.user_acc_link {
  color: black;
}

.acc_like {
  margin: 10px;
  float: left;
  font-size: 20px;
}

.acc_dislike {
  margin: 10px;
  float: left;
  font-size: 20px;
}

.acc_comment {
  margin: 10px;
  float: left;
  font-size: 20px;
}

.acc_delete_button {
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
  color: black;
  width: 6%;
  font-weight: bold;
  margin: 5px;
  font-size: 15px;
  float: right;
}

.acc_update_button {
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
  color: black;
  width: 6%;
  font-weight: bold;
  margin: 5px;
  font-size: 15px;
  float: right;
}

.acc_rewrite_button {
  color: black;
}

.acc_thoughts_24 {
  float: right;
  width: 66%;
  margin: 20px;
  color: black;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}

.acc_title {
  margin-bottom: 0px;
  font-weight: bold;
}
