.blog_text {
  padding: 25px;
  border: none;
  border-radius: 0px;
  width: 66%;
  margin: 20px;
  float: right;
  background-color: whitesmoke;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.like_button {
  margin: 10px;
}

.dislike_button {
  margin: 10px;
}

.comment_button {
  margin: 10px;
}

.thoughts_24 {
  float: right;
  width: 66%;
  margin: 20px;
  color: black;
  text-align: center;
  padding: 10px;
}

.title {
  margin-bottom: 0px;
}

/*Sidebar*/

.sidebar {
  width: 30%;
  position: fixed;
  left: 20px;
  top: 60px;
  color: black;
  text-align: center;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.sticky_sidebar {
  background-color: whitesmoke;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.text_box {
  width: 100%;
  resize: none;
  padding: 10px;
  border: 2px solid black;
}

.write_new_thought {
  text-align: center;
}

.new_thought {
  text-align: center;
}

.publish_button {
  border: 1px black solid;
  background-color: whitesmoke;
  color: black;
  font-size: 20px;
  width: 100%;
}

.home_search_button {
  color: black;
  font-size: 18px;
}

.logout_button {
  border: 1px black solid;
  color: black;
  font-size: 20px;
  width: 100%;
}

.home_search_bar {
  margin-top: 15px;
}

.sort_button {
  width: 100%;
}

/*Navbar*/

.navbar {
  position: fixed;
  top: 0px;
  background-color: black;
  color: white;
  z-index: 1000;
}

.left_section ul {
  list-style-type: none;
  margin: 0;
}

.left_section li {
  margin-left: 15px;
  cursor: pointer;
  font-size: 30px;
}

.center_section img {
  max-width: 100px;
}

.right_section ul {
  list-style-type: none;
  margin: 0;
}

.right_section li {
  margin-right: 50px;
  cursor: pointer;
  font-size: 30px;
}

.navbar_link {
  color: white;
}

/*Pagination*/
.home_pagination {
  float: right;
  position: fixed;
  bottom: 100px;
}
