.card {
  padding: 25px;
  border: none;
  width: 66%;
  margin: 20px;
  float: right;
  margin-top: 100px;
  overflow: hidden;
}

.thoughts_24 {
  float: right;
  margin-top: 100px;
  color: black;
}
