button {
  padding: 5px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  box-shadow: inset 1px 1px whitesmoke, 1px 1px whitesmoke;
}

::-webkit-scrollbar-track {
  background-color: white;
}

.blog_text {
  padding: 25px;
  width: 66%;
  margin: 20px;
  float: right;
  background-color: white;
  box-shadow: inset 0.8px 0.8px whitesmoke, 3px 3px whitesmoke;
  font-size: 20px;
}

.sort_dropdown {
  width: 100%;
  padding: 10px;
}

.like_button {
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
  color: black;
  width: 6%;
  font-weight: bold;
  margin: 5px;
  font-size: 15px;
}

.dislike_button {
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
  color: black;
  width: 6%;
  font-weight: bold;
  margin: 5px;
  font-size: 15px;
}

.comment_button {
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
  color: black;
  width: 6%;
  font-weight: bold;
  margin: 5px;
  font-size: 15px;
}

.thoughts_24 {
  float: right;
  width: 66%;
  margin: 20px;
  color: black;
  text-align: center;
  padding: 10px;
  background-color: white;
  box-shadow: inset 0.8px 0.8px whitesmoke, 3px 3px whitesmoke;
}

.title {
  margin-bottom: 0px;
}

/*Sidebar*/

.sidebar {
  width: 30%;
  position: fixed;
  left: 20px;
  top: 250px;
  color: black;
  text-align: left;
}

.sticky_sidebar {
  background-color: white;
  padding: 15px;
  box-shadow: inset 0.8px 0.8px whitesmoke, 3px 3px whitesmoke;
}

.sidebar2 {
  width: 30%;
  position: fixed;
  left: 20px;
  top: 100px;
  color: black;
  text-align: left;
}

.sidebar3 {
  width: 30%;
  position: fixed;
  left: 20px;
  top: 585px;
  color: black;
  text-align: left;
  background-color: white;
}

.acc_user_stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.text_box {
  width: 100%;
  resize: none;
  padding: 10px;
  border: none;
}

.timestamp {
  font-size: 15px;
  margin-top: 10px;
}

.write_new_thought {
  text-align: center;
}

.new_thought {
  text-align: center;
}

.word_counter {
  float: left;
  margin-left: 5px;
}

.word_count {
  font-weight: bold;
}

.publish_button {
  width: 20%;
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
  color: black;
  float: right;
  font-weight: bold;
}

.user_acc_link {
  color: black;
}

/*Navbar*/

.navbar {
  height: 80px;
  background-color: white;
  z-index: 1000;
}

.left_section ul {
  list-style-type: none;
  margin: 0;
}

.left_section li {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
  font-size: 30px;
}

.center_section img {
  max-width: 100px;
}

.navbar_link {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.home_link {
  margin-right: 50px;
}

.right_section {
  margin-right: 20px;
}

.home_search_button {
  border: 1px solid black;
  border-radius: 25px;
  width: 40px;
  background-color: white;
  color: black;
}

.search_bar {
  border-radius: 25px;
  border: 1px solid black;
  padding: 6px;
  width: 250px;
}

.follow_button {
  border: none;
  border-radius: 25px;
  margin-left: 5px;
  font-size: 15px;
  background-color: white;
}

.follow_button_text {
  border: none;
  border-radius: 25px;
  font-size: 15px;
  background-color: white;
  font-weight: bold;
  margin-right: 5px;
}

.follow_button_group {
  margin-left: 10px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 25px;
}

/*Pagination*/

.home_pagination {
  float: right;
  position: fixed;
  bottom: 100px;
}

/*Follow*/

table {
  width: 100%;
}

.acc_followed_username {
  float: left;
}

.acc_unfollow_button {
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
  color: black;
  float: right;
  width: 50%;
  font-weight: bold;
}

.see_all_friend {
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
  color: black;
  width: 100%;
  font-weight: bold;
}

.between {
  margin-bottom: 200px;
}
