.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  align-items: center;
  background-color: black;
  color: white;
  z-index: 1000;
}

.left_section ul {
  list-style-type: none;
  margin: 0;
}

.left_section li {
  margin-left: 15px;
  cursor: pointer;
  font-size: 30px;
}

.center_section img {
  max-width: 100px;
}

.right_section ul {
  list-style-type: none;
  margin: 0;
}

.right_section li {
  margin-right: 50px;
  cursor: pointer;
  font-size: 30px;
}
