.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 70px;
  z-index: 1000;
}

.left_section ul {
  list-style-type: none;
  margin: 0;
  display: flex;
}

.left_section li {
  margin-left: 15px;
  cursor: pointer;
  font-size: 30px;
}

.center_section img {
  max-width: 100px;
}

.right_section ul {
  list-style-type: none;
  margin: 0;
  display: flex;
}

.right_section li {
  margin-right: 50px;
  cursor: pointer;
  font-size: 30px;
}
