.text_box {
  resize: none;
  width: 80%;
  height: 50%;
  margin-top: 100px;
}

.write_new_thought {
  text-align: center;
}

.new_thought {
  text-align: center;
}

.publish_button {
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px black solid;
  background-color: black;
  color: white;
  font-size: 20px;
}
