.sidebar {
  width: 30%;
  position: fixed;
  left: 0;
  top: 60px;
  color: black;
  text-align: center;
  border: 2px solid black;
}

.sticky_sidebar {
  background-color: whitesmoke;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.text_box {
  width: 100%;
  resize: none;
  padding: 10px;
  border: 2px solid black;
}

.write_new_thought {
  text-align: center;
}

.new_thought {
  text-align: center;
}

.publish_button {
  border: 1px black solid;
  background-color: whitesmoke;
  color: black;
  font-size: 20px;
  width: 100%;
}

.search_button {
  color: black;
  font-size: 18px;
}

.logout_button {
  border: 1px black solid;
  color: black;
  font-size: 20px;
  width: 100%;
}

.search_bar {
  margin-top: 15px;
}

.sort_button {
  width: 100%;
}
