.login_button {
  width: 100%;
  font-size: 20px;
}

.welcome_text {
  padding: 50px;
  margin-top: 100px;
  width: 50%;
  float: left;
  text-align: center;
}

.login_form {
  text-align: center;
  padding: 50px;
  width: 50%;
  float: right;
  font-size: 20px;
}

.welcome_big_div {
  margin-top: 200px;
}

.welcome_create_acc {
  margin-bottom: 210px;
}

.welcome_create_acc_link {
  color: black;
}

.welcome_email {
  font-size: 20px;
}

.welcome_password {
  font-size: 20px;
}
